填充位置,条件,描述(demo：可自定义字体颜色等写法如下(加粗:bold 下划线:underline,字号:fontsize,字体:font,字颜色:color) <可能存在高度屈光不正{%bold,underline,fontsize:30,font:宋体,color:223344,#（很有可能是近视、散光、远视等）%}>)
"vision","5.3","您的孩子属于{%bold,underline#优秀视力%}。恭喜您！这种视力的孩子在当今已属于千分之一，是飞行员才具备的视力！"
"vision","5.2","您的孩子属于{%bold,underline#正常视力%}。"
"vision","5.1","您的孩子属于{%bold,underline#正常视力%}。"
"vision","5.0","您的孩子属于{%bold,underline#边缘视力%}。"
"vision","4.9","您的孩子可能属于{%bold,underline#轻度屈光不正%}。"
"vision","4.8","您的孩子可能属于{%bold,underline#轻度屈光不正%}。"
"vision","4.7","您的孩子可能属于{%bold,underline#轻度屈光不正%}。"
"vision","4.6","您的孩子视力可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.5","您的孩子视力可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.4","您的孩子视力可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.3","您的孩子视力可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.2","您孩子的视力可能属于{%bold,underline#高度屈光不正%}。"
"vision","4.1","您孩子的视力可能属于{%bold,underline#高度屈光不正%}。"
"vision","4.0","您孩子的视力可能属于{%bold,underline#高度屈光不正%}。"
"vision","3.9","您孩子的视力可能属于{%bold,underline#重度屈光不正%}。"
"vision","3.8","您孩子的视力可能属于{%bold,underline#重度屈光不正%}。"
"vision","3.7","您孩子的视力可能属于{%bold,underline#重度屈光不正%}。"
"vision","3.6","您孩子的视力可能属于{%bold,underline#重度屈光不正%}。"
"vision","5.3_noleft","您的孩子左眼无数据，右眼属于{%bold,underline#优秀视力%}。"
"vision","5.2_noleft","您的孩子左眼无数据，右眼属于{%bold,underline#正常视力%}。"
"vision","5.1_noleft","您的孩子左眼无数据，右眼属于{%bold,underline#正常视力%}。"
"vision","5.0_noleft","您的孩子左眼无数据，右眼属于{%bold,underline#边缘视力%}。"
"vision","4.9_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#轻度屈光不正%}。"
"vision","4.8_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#轻度屈光不正%}。"
"vision","4.7_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#轻度屈光不正%}。"
"vision","4.6_noleft","您的孩子左眼无数据，右眼可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.5_noleft","您的孩子左眼无数据，右眼可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.4_noleft","您的孩子左眼无数据，右眼可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.3_noleft","您的孩子左眼无数据，右眼可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.2_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#高度屈光不正%}。"
"vision","4.1_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#高度屈光不正%}。"
"vision","4.0_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#高度屈光不正%}。"
"vision","3.9_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#重度屈光不正%}。"
"vision","3.8_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#重度屈光不正%}。"
"vision","3.7_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#重度屈光不正%}。"
"vision","3.6_noleft","您的孩子左眼无数据，右眼可能属于{%bold,underline#重度屈光不正%}。"
"vision","5.3_noright","您的孩子右眼无数据，左眼属于{%bold,underline#优秀视力%}。"
"vision","5.2_noright","您的孩子右眼无数据，左眼属于{%bold,underline#正常视力%}。"
"vision","5.1_noright","您的孩子右眼无数据，左眼属于{%bold,underline#正常视力%}。"
"vision","5.0_noright","您的孩子右眼无数据，左眼属于{%bold,underline#边缘视力%}。"
"vision","4.9_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#轻度屈光不正%}。"
"vision","4.8_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#轻度屈光不正%}。"
"vision","4.7_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#轻度屈光不正%}。"
"vision","4.6_noright","您的孩子右眼无数据，左眼可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.5_noright","您的孩子右眼无数据，左眼可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.4_noright","您的孩子右眼无数据，左眼可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.3_noright","您的孩子右眼无数据，左眼可能存在{%bold,underline#中度屈光不正%}。"
"vision","4.2_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#高度屈光不正%}。"
"vision","4.1_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#高度屈光不正%}。"
"vision","4.0_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#高度屈光不正%}。"
"vision","3.9_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#重度屈光不正%}。"
"vision","3.8_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#重度屈光不正%}。"
"vision","3.7_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#重度屈光不正%}。"
"vision","3.6_noright","您的孩子右眼无数据，左眼可能属于{%bold,underline#重度屈光不正%}。"
"suggest","5.3_p0",""
"suggest","5.2_p0",""
"suggest","5.2_p1",""
"suggest","5.1_p0","5.1差0行"
"suggest","5.1_p1","5.1差一行"
"suggest","5.1_p2","5.1差二行"
"suggest","5.0_p0","5.0差0行"
"suggest","5.0_p1","5.0差1行"
"suggest","5.0_p2","5.0差2行"
"suggest","5.0_p3","5.0差3行"
"suggest","4.9_p0","4.9差0行"
"suggest","4.9_p1","4.9差1行"
"suggest","4.9_p2","4.9差2行"
"suggest","4.9_p3","4.9差3行"
"suggest","4.9_p4","4.9差4行"
"suggest","4.8_p0","4.8差0行"
"suggest","4.8_p1","4.8差1行"
"suggest","4.8_p2","4.8差2行"
"suggest","4.8_p3","4.8差3行"
"suggest","4.8_p4","4.8差4行"
"suggest","4.8_p5","4.8差5行"
"suggest","4.8_pmore","4.8差大于5行"
"suggest","4.7_p0","4.8差0行"
"suggest","4.7_p1","4.7差1行"
"suggest","4.7_p2","4.7差2行"
"suggest","4.7_p3","4.7差3行"
"suggest","4.7_p4","4.7差4行"
"suggest","4.7_p5","4.7差5行"
"suggest","4.7_pmore","4.7差大于5行"
"suggest","4.9_noleft","4.9左眼无数据"
"suggest","4.9_noright","4.9右眼无数据"
"parallax","0",""
"parallax","1",""
"parallax","2","同时双眼视力差2行的不及时矫治易形成轻度屈光参差，请注意会产生一下问题1、易产生视力参差。2、斜视3、导致无同时视、无立体视4、对升学就业产生巨大影响！"
"parallax","3","同时双眼视力差3行的不及时矫治易形成轻度屈光参差，请注意会产生一下问题1、容易产生视力参差。2、容易导致斜视3、有可能无同时视、无立体视4、影响日后的形象与气质！"
"parallax","4","双眼视力差4行的不及时采取措施易造成斜视。您的孩子视力参差可以导致眼睛无同时视，没有融合功能，甚至简单的3D电影都无法观看，未来对专业的选择和就业也会产生很大影响！"
"parallax","5","同时双眼视力差5行的不及时采取措施易造成斜视。您的孩子视力参差可以导致眼睛无同时视，没有融合功能，甚至简单的3D电影都无法观看，未来对专业的选择和就业也会产生很大影响！"
"parallax","left","左眼无视力"
"parallax","right","右眼无视力"
"descent_speed","7",""
"descent_speed","6",""
"descent_speed","5",""
"descent_speed","4",""
"descent_speed","3",""
"descent_speed","2",""
"descent_speed","1",""
"descent_speed","0",""
"descent_speed","-1",""
"descent_speed","-2","，下降速度较快。"
"descent_speed","-3","，下降速度较快。"
"descent_speed","-4","，下降速度很快。"
"descent_speed","-5","，下降速度很快。"
"descent_speed","-6","，下降速度很快。"
"descent_speed","-7","，下降速度很快。"
"descent_speed","-8","，下降速度很快。"
"eye_state","up","，您孩子的视力呈上升趋势"
"eye_state","down","，您孩子的视力呈下降趋势"
"eye_state","same","，您孩子的视力呈平稳趋势"
